$black: #000;
$white: #FFF;
$dark-grey: #555;
$light-grey: #AAA;

$blue: #0000AA;
$green: #00AA00;
$cyan: #00AAAA;
$red: #AA0000;
$yellow: #FFFF55;
$magenta: #AA00AA;

$light-blue: #5555FF;
$light-green: #55FF55;
$light-cyan: #55FFFF;
$light-red: #FF5555;
$light-magenta: #FF55FF;