@import './colors';

* {
  font-family: "Open Sans", sans-serif;
}

.display-text {
  font-family: "Abril Fatface", serif;
  font-weight: 500;
}

.accent-text {
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: inline-block;

  &--red {
      background-color: $light-red;
      color: $white;
  }

  &--yellow {
      background-color: $yellow
  }

  &--magenta {
      background-color: $light-magenta
  }

  &--deg8 {
    transform: rotate(8deg);
  }

  &--neg-deg8 {
    transform: rotate(-8deg);
  }
}